*
!*.yaml
!.gitignore
!*.html
!*.svg
!*.js
!*.css
!panels
!www
!www/custom_ui
!www/custom_ui/floorplan
!www/custom_ui/floorplan/lib
!recover
!recover/*
mysensors/
mysensors.json
secrets.yaml
known_devices.yaml
